p {
  cursor: text;
  pointer-events: all;
}

#disclaimer {
  padding-left: 10%;
  padding-right: 10%;
}

#content-container {
  width: 80%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#resume-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
}

#resume-image {
  max-width: 100%;
  max-height: 90%;
  padding: 10px;
  height: auto;
  pointer-events: all;
}

#canvas-container {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#pdf-link {
  color: white;
  text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
  #content-container {
    flex-direction: column;
  }

  #canvas-container {
    width: 100%;
    flex-direction: column;
  }

  #pdf-link {
    font-size: 64px;
  }
}
